*/output_files
*\output_files
*/simulation
*\simulation
*/increm*
*\increm*
*\questa
*.qws
.vscode
Lab_05/pro*/db
*\db
*/db
*\photo*
Lab_05/photo
TeamReview.md
*.tex
*.zip
*/報告
Lab_05/Lab_05_Report.md